[submodule "src/python practice/tictactoe"]
	path = src/python practice/tictactoe
	url = https://github.com/githubprin/tictactoe.git
[submodule "src/python practice/stock simulation"]
	path = src/python practice/stock simulation
	url = https://github.com/githubprin/stock-simulation.git
[submodule "src/python practice/level test"]
	path = src/python practice/level test
	url = https://github.com/githubprin/level-test.git
[submodule "src/python practice/binary search"]
	path = src/python practice/binary search
	url = https://github.com/githubprin/binary-search.git
[submodule "src/python practice/parse parentheses"]
	path = src/python practice/parse parentheses
	url = https://github.com/githubprin/parse-parentheses.git
